/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
/* index.css or App.css or global styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

/* Root should not limit width */
#root {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
